# Node.js
## Folders
node_modules/
dist/
build/
monoprompting_exp_v2.2/
tests/
wallet-storage/

## Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

## Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.ps1
*.bat
*.cmd

# Solana wallet files
*.keypair
*.wallet

#T 
scripts/ 